#footer>#logo>a{
    position: relative;
    top:25px;
}

address{
    padding-top:20px;
    box-sizing: border-box;
}

address>div{
    /* background-color: tan; */
    text-align: center;
    margin-bottom: 5px;
}

#sns>ul{
    position: relative;
    left:10px;
    top:20px;
}

#sns>ul>li{
    float:left;
    margin-right:10px;
}