
#header>#logo>img{
    position: relative;
    top:25px;
}

#gnb{
    float:right;
    position: relative;
    right:20px;
    top:20px;
}

#gnb>li{
    float:left;
}

#gnb>li>a{
    display:block;
    width:200px;
    height:50px;
    /* background-color: darkkhaki; */
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.lnb>li>a{
    display:block;
    width:200px;
    height:50px;
    /* background-color: darkorange; */
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

/* 상위 메뉴 호버 시 */
#gnb > li > a:hover {
    background-color: #333333;
    color: #ffffff;
}

/* 하위 메뉴 호버 시 */
.lnb > li > a:hover {
    background-color: #333333;
    color: #ffffff;
}

.lnb{
    display:none;
}