@charset "utf-8";

*{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#333333;
}

body{
    background-color: #ffffff;
}

#wrap{
    width:1200px;
    height:700px;
    /* background-color: aqua; */
    margin:0 auto;
}

#header{
    width:1200px;
    height:100px;
    /* background-color: aquamarine; */
}

#header>#logo{
    float:left;
    width:200px;
    height:100px;
    /* background-color:cadetblue; */
}

#header>#nav{
    float:left;
    width:1000px;
    height:100px;
    /* background-color:chartreuse; */
}

#slide{
    width:1200px;
    height:300px;
    /* background-color: antiquewhite; */
}

#contents{
    width:1200px;
    height:200px;
    /* background-color: brown; */
}

#cont1{
    float:left;
    width:480px;
    height:200px;
    /* background-color: coral; */
}

#cont2{
    float:left;
    width:360px;
    height:200px;
    /* background-color: cornflowerblue; */
}

#cont3{
    float:left;
    width:360px;
    height:200px;
    /* background-color: crimson; */
}

#footer{
    width:1200px;
    height:100px;
    /* background-color: blueviolet; */
}

#footer>#logo{
    float:left;
    width:200px;
    height:100px;
    /* background-color: darkblue; */
}

#copyright{
    float:left;
    width:800px;
    height:100px;
    /* background-color: darkcyan; */
}

#sns{
    float:left;
    width:200px;
    height:100px;
    /* background-color: darkgoldenrod; */
}